
@media only screen and (min-width: 576px){

.image-width{
    height: 100%;
    width: 60%;
    margin: 5%;
}
}

@media only screen and (max-width: 576px){

    .image-width{
        height: 100%;
        width: 100%;
        margin-top: 5%;
    }
    }

