.nav-text{
  display: flex;
  justify-content: start;
  align-items: center;
  color: #495057;
  font-size: 15px;
  list-style: none;
  height: 40px;
  padding: 0px 16px;
  font-weight: 700;
  position:relative;
}
.navbar-toggle{
  font-size: 30px;
  font-weight:900;
}
.close-bars{
  color: #1a73e8 ;
  margin-top: 4%;
  cursor: pointer;
}

.sub-nav{
  margin-left: 9%;
  border-left: 5px solid #1a73e833 ;
  cursor: pointer;
  color: #495057;
  font-size: 15px;
}
.down-icon{
  float:right; clear:right;
  font-size: 16px;
}

.sub-menu-icon{
   font-size: 16px;

}
.nav-text:hover{
  background-color: #1a73e815 ;
  color: #1a73e8 ;
  border-radius: 9px 9px 9px 9px;
  font-weight: 400;
  font-weight: 700;
 
  cursor: pointer;
}
.nav-text:focus{
  background-color: white;
  color: black;
}
.nav-menu-item{
  width: 100%;
}
.navbar-toggle{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
span{
  margin-left: 16px;
}
.sub-nav-text{
  margin-left: 16%;
  margin-right: 0%;
  padding-left: 6% !important;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  color: #495057 ;
  /* top:0; */
 

}
.sub-nav-text:hover{
  background-color: #1a73e815 ;
  border-radius: 9px 9px 9px 9px;
  font-weight: 600;
  color: #1a73e8 ;
 
}

