.nav-text{
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  font-size: 20px;
  list-style: none;
  height: 40px;
  padding: 0px 16px;
  font-weight: 400;
}
.navbar-toggle{
  font-size: 40px;
  font-weight:900;
}
.close-bars{
  color: white;
}
.nav-selected{
  background-color: rgba(255, 255, 255, 0.74);
  color: #1a73e8 ;
  border-radius: 5px 5px 5px 5px;
}
.sub-nav{
  border-left: 3px solid white;
  background-color: rgba(255, 255, 255, 0.171);
  cursor: pointer;
}

.nav-text:hover{
  background-color: rgba(255, 255, 255, 0.171);
  color: black;
  border-radius: 5px 5px 5px 5px;
  color: white;
  font-weight: 400;
  cursor: pointer;
}
.nav-text:focus{
  background-color: white;
  color: black;
}
.nav-menu-item{
  width: 100%;
}
.navbar-toggle{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
span{
  margin-left: 16px;
}