.bar-icon{
    font-size: 20px;
    list-style: none;
    margin-top: 0%;
    padding-top: 0%;
    padding-left: 3% !important;
    margin-bottom: 3.5%;
}
.navbar{
    background-color:white ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.nav-menu{
    background-color: white;
    width: 280px;
    height: 100vh;
    padding-right: 2%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    /* justify-content: center; */
    position: fixed;
    top:0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active{
    left: 0;
    transition: 350ms;
}

.event-box{
    text-align: center;
    width: fit-content;
}
.main-content{
    left: 0;
    transition: 850ms;
    padding: 3%;
}
.main-content.active{
    margin-left: 280px;
    transition: 350ms;
    padding: 3%;
}
