body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.row{
  --bs-gutter-x: 0rem !important;
}
/* #1a73e8  */
h3,h4,h1,h2,h5,h6{
  margin:0% !important;
}
li{
  list-style: none;
}
a{

  text-decoration: none !important;
}
hr{
  margin: 0% !important;
}
body::-webkit-scrollbar {
  display: none;
}
.form-control:focus {
  border-color: #1a73e8e3 !important;
  border-width: 2px;
  box-shadow: 0 0 0 0.2rem #1a73e863 !important;
} 
.form-select:focus{
  border-color: #1a73e8e3!important;
  border-width: 2px;
  box-shadow: 0 0 0 0.2rem #1a73e863 !important;
}
.form-input-error{
  border-color: rgba(228, 77, 77, 0.842) !important;
  border-width: 2px;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.185) !important;
}
.btn:focus{
  border-color:none !important;
  
  box-shadow: 0 0 0 0.2rem #1a73e863 !important;
}
label{
  font-weight: 600;
  margin-top: 2%;
}
@media only screen and (max-width: 730px){
  label,.add-project-button-container{
      margin-top: 5%;
  }
}
.delete-button{
  color: black;
  cursor: pointer;
  
  /* border-radius: 50%; */
  
}
.edit-button{
  color:black;
  cursor: pointer;
}
.delete-button :hover{
    color:#1a73e8e3;
}
.edit-button:hover{
  color:#1a73e8e3;
}
select,option{
  cursor: pointer;
}
