.table-header{
    background-color: #1a73e8 ;
    color: white;
}
.table-body{
    background-color: #1a73e815 ;
    color: black;
}
table { 
    width: 100%; 
    border-collapse: collapse; 
  }
 
  /* th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  } */
  td, th { 
    padding: 15px; 
    border: 1px solid #ccc; 
    text-align: left; 
    
  }


   .table-container{
    overflow-x: auto !important;
}